@font-face {
	font-family: "Concrete Roman";
	src: url(ccr10.woff2) format(woff2),
	     url(ccr10.woff) format(woff);
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Concrete Roman";
	src: url(ccsl10.woff2) format(woff2),
	     url(ccsl10.woff) format(woff);
	font-weight: 400;
	font-style: oblique;
}

@font-face {
	font-family: "Computer Modern Typewriter Text";
	src: url(cmtt10.woff2) format(woff2),
	     url(cmtt10.woff) format(woff);
	font-weight: 400;
	font-style: normal;
}

body {
	font: 15px/120% "Concrete Roman", serif;
	max-width: 600px;
	margin: 1em auto;
}

header, h1, h2, p {
	margin: 1em 0;
}

header {
	height: 2em;
}

header, section {
	border-top: 1px solid;
}

header h1 {
	float: left;
}

header p {
	float: right;
	font-style: oblique;
}
	
h1, h2 {
	font: inherit;
	text-transform: uppercase;
}

section p {
	text-align: justify;
}

section img {
	display: block;
	box-sizing: border-box;
	border: 1px solid;
	padding: 2px;
	width: 100%;
	max-width: 400px;
}

a {
	text-decoration: inherit;
	color: hsl(220, 100%,40%);
}

aside > pre {
	font-family: "Computer Modern Typewriter Text";
	text-align: center;
}
